/*
Creado por @SaulMachado con el objetivo de manejar mis propias propiedad de estilos
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;    
}

h1,h2,h3{
    padding: 1em;
}

.bloque-center {
    padding: 0 1rem;
    margin: 1rem;
}

.titulos-center{
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.parrafos-center{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    color: grey;
}

.center-align{
    text-align: center;
    width: auto;
    height: auto;
    background-color: white;
}

.center-image{
    padding-top: 30px;
    margin: auto;
}

#image{
    margin: 1rem;
    padding: 2rem;
}

.btn-radio{
    width: 8em !important;
    height: 3em !important;
    border-radius: 2em !important;
    margin: auto !important;
}

div.center{
    text-align: center;
}

.efect-card{
    height: auto;
    width: auto;
    margin: 2rem;
    padding: 2rem;
    filter: drop-shadow(0 0.5px rgba(0,0,0,0.3));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#redondear{
    border-radius: 10px 20px 20px 30px;
}



 